/***   CSS reset   ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***   Moj CSS   ***/

/***   Fiksiranje pozadinske slike   ***/
img#pozadina {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

/***   Podmeni za rezervacije   ***/
li#indexRezervacijePodmeni {
    display: none;
    position: absolute;
    top: 60px;
    left: 306px;
    cursor: pointer;
}
details summary {
    cursor: ew-resize;
}
.naziv:hover {
    cursor: pointer;
}
li#indexRezervacijePodmeni > ul > li {
    background-color: green;
    padding: 10px 20px;
    margin: 5px;
}

li#indexRezervacijePodmeni > ul > li > a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: large;
}



#kontejner {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.korak {
    height: 180px;
    width: 180px;
    float: left;
    color: white;
    text-align: center;
}
.korak > img {
    width: 160px;
    height: 100px;
    margin: 40px auto 5px auto;
    float: none;
}
#jedan {
    background-color: red;
}
#dva {
    background-color: green;
}
#tri {
    background-color: blue;
}
.canvasKorak {
    width: 60px;
    height: 180px;
    float: left;
}

/***   Navigacija   ***/
nav {
    float: left;
    margin-top: 20px;
    width: 960px;
}
nav > ul > li {
    display: inline;
    float: left;
    padding-left: 15px;
}
nav > ul > li > a {
    display: block;
    width: 170px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    font-size: large;
    border-top-width: 5px;
    border-color: green;
    border-top-style: solid;
    margin-bottom: 10px;
}
nav > ul > li > a:hover {
    color: white;
    background-color: green;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    margin-bottom: 5px;
}
nav ul li ul li {
    width: 170px;
    height: 30px;
    padding: 15px 0 0 0;
    margin: 5px 0;
    background-color: #0193B7;
    text-align: center;
}
nav ul li ul li a {
    text-decoration: none;
    color:white;
}
nav ul li ul {
    display: none;
}
nav ul li:hover ul {
    display: block;
    position: relative;
}
#opis {
    float: left;
    width: 100%;
}

/***   Logo   ***/
@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);
div#logo > img {
    height: 100px;
    width: 100px;
}
div#logo > span {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    position: relative;
    top: -30px;
}
div#logo {
    float: left;
}
div#login {
    float: right;
    padding: 5px;
    margin-top: 5px;
}