@import url(http://fonts.googleapis.com/css?family=Gabriela);
* {
    padding: 0px;
    margin: 0px;
}
div#zaglavlje {

    color: green;
    font-size: 22pt;
    font-family:  Gabriela;
    background-color: #ddd;
    width: 730px;
    font-weight: bold;
    padding: 10px;
}
body {
    background-color: #a7a09a;
}
div#okvir {
    background-color: #99c;
    width: 750px;
    margin: 0 auto;
    height: 480px;
}
div#meni {
    background-color: #c99;
    width: 740px;
    padding: 5px;
    float: left;
}
div#glavni {
    width: 480px;
    background-color: #9c9;
    padding: 10px;
    float: left;
}
div#desno {
    background-color: #c9c;
    width: 230px;
    padding: 10px;
    float: right;
}
div#podnozje {
    background-color: #cc9;
    width: 740px;
    padding: 5px;
    float: left;
}
div#meni > ul {
    list-style: none;
}
div#meni > ul > li {
    float: left;
    margin-left: 5px;
}
div#glavni > p {
    margin-top: 20px;
    margin-bottom: 20px;
}
div#desno > ul > li {
    margin-left: 40px;
}
div#desno > p {
    margin-top: 20px;
    margin-bottom: 20px;
}
div#desno > ul:last-child {
    margin-bottom: 20px;
}